body {
    background-color: #fafafa;
}
.header {
    display: flex;
    align-items: center;
    font-size: 25px;
    background-color: white;
    border-bottom: 1px solid gray

}

.content {
    display: flex;
}

.publish, .feed {
    background-color: white;
    border: 1px solid #cccccc;
    padding: 15px;
    margin: 15px;
}

.publish {
    width: 25%;
}

.feed {
    width: 75%;
}

.footer {
    text-align: center;
    font-size: 10px;
    font-style: italic;
}

#logo-pandagram {
    height: 60px;
}

.logo-text {
    margin: 0;
    margin-left: 10px;
}

.preview {
    min-height: 200px;
    margin: 15px 0px;
    padding: 5px;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
}

#input-status {
    width: 100%;
}

.actions {
    display: flex;    
    justify-content: flex-end;
}

.post {
    background-color: #fafafa;
    padding: 15px;
    margin: 5px;
}

span {
    font-weight: bold;
}