.Formulario{
    display: flex;
    flex-direction: column;
}
.Formulario__nombre{
    margin-right:auto ;
    margin-bottom: 1.3rem;
}
.Formulario__email{
    margin-right: 25%;
    margin-bottom: 1.3rem;
}