.header{
    display: flex;
    justify-content:space-between ;
    margin: 2%;
    border-style: solid;
}
li{
    list-style: none;
}
.botonera{
    display: flex;

}
.menu{
    border-style: solid;
    margin: 45px;
}