.Header{
    border-style: solid;
    display: flex;
    background-color: cyan;
    align-items: flex-start;
    margin: 10px;
    justify-content: space-between;
}
.Content{
    border-style: solid;
    display: flex;
    background-color: cyan;
    margin: 10px;
    height: 400px;
    flex-direction: column;
    justify-content: flex-end;

}
.Footer{
    border-style: solid;
    display: flex;
    background-color: cyan;
    align-items: flex-end;
    margin: 10px;
    padding: 30px;
}
#Nav{

    display: flex;
    list-style-type: none;
    padding: 20px;
    margin: 20px;
}
li{
    margin: 10px;
}
li:hover{
    background-color: crimson;
}
