.Header{
    border-style: solid;
    display: flex;
    background-color: cyan;
    align-items: flex-start;
    margin: 10px;
    justify-content: space-between;
}
.Content{
    border-style: solid;
    display: flex;
    background-color: cyan;
    height: 400px;
    justify-content: space-between;
    
}
#Right{
    background-color: orange;
    display: flex;
    width: 48%;
    margin: 5px;
}
#Left{
    background-color: yellow;
    display: flex;
    width: 50%;
    margin: 5px;
}
.Footer{
    border-style: solid;
    display: flex;
    background-color: cyan;
    align-items: flex-end;
    margin: 10px;
    padding: 30px;
}
#Nav{
    
    display: flex;
    list-style-type: none;
    padding: 20px;
    margin: 20px;
}
li{
    margin: 10px;
}
li:hover{
    background-color: crimson;
}