.Encabezado{
    display: flex;
    border: 20px;
    border-style: solid;
    justify-content: space-between;
    background-color: brown;
    padding: 2%;
    margin: 3px;

}
.Botonera{
    display: flex;
    border-style: dashed;
    list-style-type: none;
    padding: 5px;
    text-align: end;
    background-color: aqua;

}
.Section{
    display: flex;
    flex-direction: column;
    border-style: dashed;
    text-align: start;
    background-color: chartreuse;
    height: 89%;
    margin: 35px;
}