#importante{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    background-color: skyblue;
    text-align: center;
}
a{
    text-decoration: none;
}
.imgnoticias{
    margin: 5px;
    color: blue;
}
.redessociales{
    display:flex;
    width: 100px; 
    height: 100px;
    
}
.publicidad{
    display: flex;
    width:50px;
    height: 50px;
}
.main{
    display: flex;
    justify-items: flex-end;
}
.footer{
    display: flex;
    justify-content: flex-end;
}

