h1{
    font-size: 3em;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 1.8em;
}
@media only screen and (min-width: 600px){
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 0.8rem;
    }
}