
header{
    display: flex;
    background-color: #fd0094
}
section{
    padding-bottom:8%;
    display: flex;
    background-color: orange;
    flex-direction: column;
}
aside{
    display: flex;
    background-color:orchid ;
    flex-direction: column;

}
footer{
    display: flex;
    background-color: lightblue;
}
@media only screen and (min-width:600px){
    header{
        display: flex;
        background-color: #fd0094;
        
    }
    .contenido{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    footer{
        display: flex;
    }
}