h1{
    background-color: blueviolet;
}
div h1,li,ol{
    background-color: red ;
}
.Lista{
    background-color: darkgreen;
}
.Deep h2{
    background-color: coral;
}
p{
    background-color: crimson;
}
h2{
    background-color: cornsilk;
}
.Deep p{
    background-color: darkgray;
}