.A{
    display: none;
}
.B{
    display:flex;
    justify-content: center;
    border: solid;

}
.Juntos{
    display: flex;
    justify-content: space-between;
    border: solid;
}
.C{
    padding-right: 50%;
    border-right: solid;
}
.E{
    display: flex;
    justify-content: center;
}

@media only screen and (min-width:600px){
    h1{
        display: grid;
        grid-template-areas: "A""B""C""D""E";
    }
    .A{
        display: grid;
        grid-area: "A";
    }
    .B{
        grid-area: "B";
    }
    .C{
        grid-area: "C";
    }
    .D{
        grid-area: "D";
    }
    .E{
        grid-area: "E";
    }
    .Header{
        display: grid;
        grid-template-columns:0.33fr 0.9fr ;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .E{
        border: solid;
    }

}